/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

todo
TODO
/.todo
/.TODO

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
